<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: 'pt' }}">

  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,maximum-scale=2">
    <link rel="stylesheet" type="text/css" media="screen" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">

    {% seo %}

    {% include head-custom.html %}

    {% for lang in site.languages %}
      {% assign collection = site[lang] %}
      {% assign translated_page = collection | where: "ref", page.ref | first %}
      {% if translated_page %}
        <link rel="alternate" hreflang="{{ lang }}" href="{{ translated_page.url | relative_url }}" />
      {% endif %}
    {% endfor %}
  </head>

  <body>

    <!-- HEADER -->
    <div id="header_wrap" class="outer">
        <header class="inner">
          <a href="{{ site.baseurl }}/">
            <img src="{{ site.logo | relative_url }}" alt="Logo" id="logo" />
          </a>
          <h2 id="project_tagline">{{ site.t[page.lang].description }}</h2>
          {% include lang_switcher.html %}
        </header>
    </div>

    <!-- MAIN CONTENT -->
    <div id="main_content_wrap" class="outer">
      <section id="main_content" class="inner">
        {{ content }}
      </section>
    </div>

    <!-- FOOTER  -->
    <div id="footer_wrap" class="outer">
      <footer class="inner">
        <p>{{ site.t[page.lang].footer.brand }} {{ site.t[page.lang].footer.rights }} <a href="https://creativecommons.org/licenses/by-nc/4.0/deed.pt-br">CC-BY-NC 4.0</a>
        </p>
        <p>
           Rua Doutor Cesário Mota, 8. Bloco C-23.<br />
           Boqueirão. Santos. SP<br />
           lab.ecohumana.unisanta@gmail.com
        </p>
        <p>
          <a href="https://linktr.ee/labecohumana">linktr.ee/labecohumana</a>
        </p>
      </footer>
    </div>
  </body>
</html>
